services:
  backend:
    build: .
    container_name: enlacecrm_backend
    ports:
      - "2000:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
    restart: always
    networks:
      - enlace-net

networks:
  enlace-net:
    external: true
