name: Deploy EnlaceCRM backend en servidor Ubuntu automático

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Actualizar repositorio en ruta real
        run: |
          cd /home/s-appadm/EnlaceCRM_Backend
          git reset --hard
          git pull origin main

      - name: Instalar dependencias
        run: |
          cd /home/s-appadm/EnlaceCRM_Backend
          npm install

      - name: Reiniciar aplicación con PM2
        run: |
          cd /home/s-appadm/EnlaceCRM_Backend
          pm2 restart index --update-env

      - name: Reiniciar Nginx
        run: systemctl restart nginx
