name: Auto deploy con Docker

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Auto deploy con Docker
        run: |
          cd /home/s-appadm/EnlaceCRM_Backend
          git pull origin main
          docker compose down
          docker compose up -d --build
